:host {
  display: block;
  margin-top: 1rem;
}
mat-spinner {
  margin: auto;
}
.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
  height: 350px;
  max-height: 350px;
}

.post-image img {
  width: 100%;
  height: 350px;
  max-height: 350px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
